<div class="container jumbotron" role="main">
    <h1>Home Page</h1>
    <p>Stub home page content. Current page is <%= page %>. Current
        user is <%= user_name %></p>
    <p>Process time: <%= process_time %>ms</p>
</div>